/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #292929;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #fff;
    font-family: monospace;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #292929;
}

.cover-container {
    max-width: 73em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #292929;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}


.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #292929;
    border-bottom-color: #292929;
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.img-front {
    border-radius: 50%;
    width: 50%;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

/* ABOUT ME PAGE */

.text-position {
    text-align: justify;
}

.img-aboutme {
    border-radius: 50%;
    width: 80%;
}

/* SKILLS PAGE */
.container {
    margin-top: 20px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: #292929;
}

.bar {
    width: 90%;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
}

.bar-1,
.my-skills {
    width: 80%;
    margin: 0px auto 0px;
}

.bar-inner {
    width: 0;
    height: 15px;
    line-height: 35px;
    background: #292929;
    border-radius: 5px 0 0 5px;
}

.bar-percent {
    position: absolute;
    right: 10px;
    top: -5px;
    font-size: 18px;
}

/* EXPERIENCE PAGE */
.timeline{
    position:relative;
    max-width:85%;
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.timeline:before{
    content: '';
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:2px;
    height:100%;
    background-color:#ccc;
}
.timeline ul{
    list-style-type:none;
}
.timeline ul li{
    width:50%;
    padding:5px 30px 40px 30px;
    cursor:pointer;
}
.timeline ul li:nth-child(even):before{
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    background-color:#292929;
    border-radius:50%;
    left:-6px;
    top:12px;
    transition:.5s;
}
.timeline ul li:nth-child(odd):before{
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    background-color:#292929;
    border-radius:50%;
    right:-6px;
    top:12px;
    transition:.5s;
}
.timeline ul li:hover:before{
    box-shadow:0px 0px 5px 2px rgba(99,67,68,.35);
}
.timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
}
.timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
}
.timeline ul li:nth-child(odd) .time{
    position:absolute;
    right:-38%;
    top: 3px;
    background-color:#292929;
    color:#fff;
    text-align:left;
    padding-left:10px;
    width:120px;
    height:28px;
    line-height:28px;
    border-radius:20px;
    box-shadow:0px 0px 0px 3px rgba(99,67,68,.35);
}
.timeline ul li:nth-child(even) .time{
    position:absolute;
    left:-38%;
    top: 3px;
    background-color:#292929;
    color:#fff;
    text-align:right;
    padding-right:10px;
    width:120px;
    height:28px;
    line-height:28px;
    border-radius:20px;
    box-shadow:0px 0px 0px 3px rgba(99,67,68,.35);
}
.timeline ul li .content h3{
    color:#292929;
    font-size:17px;
}
.timeline ul li .content p{
    color:#222;
}

@media (max-width:750px){
    .timeline{
        width:100%;
        margin:5px 0px;
    }
    .timeline:before{
        left:20px;
    }
    .timeline ul li{
        width:100%;
        padding:3px 0px 40px 20px;
        cursor:pointer;
    }
    .timeline ul li:nth-child(even):before{
        left:-6px;
    }
    .timeline ul li:nth-child(odd):before{
        left:-6px;
    }
    .timeline ul li:nth-child(even){
        float:left;
        text-align:left;
    }
    .timeline ul li:nth-child(odd){
        float:left;
        text-align:left;
    }
    .timeline ul li:nth-child(odd) .time{
        position:static;
        text-align:left;
        padding-left:5px;
        box-shadow:0px 0px 0px 0px ;
    }
    .timeline ul li:nth-child(even) .time{
        position:static;
        text-align:left;
        padding-left:5px;
        box-shadow:0px 0px 0px 0px ;
    }
}

